<div class="projects-container">
  <h3>My Portfolio Projects</h3>
  
  <div class="project-block professional-projects">
    <h2>Professional Experience & Projects</h2>
    <p>Projects and accomplishments developed during my core professional roles.</p>

    <div class="experience-card" *ngFor="let project of professionalProjects">
      <div class="card-header">
        <img
          [src]="'assets/company-logo/' + project.logoFilename"
          (error)="onImageError($event)"
          [alt]="project.company"
          class="company-logo"
        />
        <div>
          <h4>{{ project.jobTitle }}</h4>
          <p class="company-location">
            {{ project.company }} · {{ project.location }}
          </p>
          <p class="date-range">{{ project.dateRange }}</p>
        </div>
      </div>
      <ul class="skill-list">
        <p class="project-description">{{ project.description }}</p> 
        <li *ngFor="let skill of project.skills">{{ skill }}</li>
      </ul>
    </div>
  </div>

  <hr> 
  
  <div class="project-block personal-projects">
    <h2>Personal & Side Projects</h2>
    <p>Independent projects built for learning, experimentation, and personal interest.</p>

    <div class="experience-card" *ngFor="let project of sideProjects">
      <div class="card-header">
        <img
          [src]="'assets/company-logo/' + project.logoFilename"
          (error)="onImageError($event)"
          [alt]="project.company"
          class="company-logo"
        />
        <div>
          <h4>{{ project.company }}</h4> 
          <p class="company-location">
            {{ project.jobTitle }} · {{ project.location }}
          </p>
          <p class="date-range">{{ project.dateRange }}</p>
        </div>
      </div>
      <ul class="skill-list">
        <p class="project-description">{{ project.description }}</p> 
        <li *ngFor="let skill of project.skills">{{ skill }}</li>
      </ul>
    </div>
  </div>
</div>










<!-- <div class="resume-block">
  <h3>Resume</h3>
  <div class="experience-card">
    <h3>Projects</h3>
  <div *ngFor="let project of projects">
    <div class="card-header">
      <img
  [src]="'assets/company-logo/' + project.logoFilename"
  (error)="onImageError($event)"
  [alt]="project.company"
  class="company-logo"
/>
      <div>
        <h4>{{ project.jobTitle }}</h4>
        <p class="company-location">
          {{ project.company }} · {{ project.location }}
        </p>
        <p class="date-range">{{ project.dateRange }}</p>
      </div>
    </div>
    <ul class="skill-list">
      <li *ngFor="let skill of project.skills">{{ skill }}</li>
    </ul>
  </div>
  </div>
</div> -->



